<app-profile></app-profile>
<div class="container mt-5 animated fadeIn fast" *ngIf="user">
    <div class="card text-center" *ngIf="!userAdmin">
        <div class="card-header">
            <h2>Detalle de Cuenta</h2>
        </div>
        <div class="card-body text-left">
            <p class="card-text">Nombre: <strong>{{user.name}}</strong> </p>
            <p class="card-text">Número de Cuenta: <strong>{{user.accountNumber}}</strong> </p>
            <p class="card-text">Saldo: <strong>{{ user.balance | currency: 'USD' }}</strong> </p>
        </div>
    </div>

    <div *ngIf="!userAdmin" class="mt-5">
        <h2>Historial de Transacciones</h2>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Fecha de Transacción</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of user.transactions">
                    <th scope="row"> {{t.id}} </th>
                    <td>
                        <span class="badge badge-success" *ngIf="t.transactionType === 'CREDIT'">Credito</span>
                        <span class="badge badge-danger" *ngIf="t.transactionType === 'DEBIT'">Debito</span>
                    </td>
                    <td> {{t.accountNumber}} </td>
                    <td> {{t.createdAt | date: 'medium'}} </td>
                    <td> {{t.amount | currency: 'USD'}} </td>
                    <td> {{t.description}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userAdmin" class="mt-5">

        <div *ngIf="users.length > 0">
            <h2>Usuarios</h2>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Código de Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Número de Cuenta</th>
                        <th scope="col">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <th scope="row"> {{u.id}} </th>
                        <th scope="row"> {{u.name}} </th>
                        <th scope="row"> {{u.username}} </th>
                        <th scope="row"> {{u.userCode}} </th>
                        <th scope="row"> {{u.email}} </th>
                        <th scope="row"> {{u.createdAt | date: 'medium'}} </th>
                        <th scope="row"> {{u.accountNumber}} </th>
                        <th scope="row"> {{u.balance | currency: 'USD'}} </th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>