<div class="container mt-5 animated fadeIn fast">
    <div>
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group">
                <label>Código de usuario</label>
                <input type="number" placeholder="Código de usuario" class="form-control" formControlName="userCode">
                <small *ngIf="userCodeValid" class="text-danger">El código de usuario es requerido</small>
            </div>
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" placeholder="Nombre de usuario" class="form-control" formControlName="username" maxlength="12">
                <small *ngIf="usernameValid" class="text-danger">El nombre de usuario es requerido</small>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" placeholder="Contraseña" class="form-control" formControlName="password">
                <small *ngIf="passwordValid" class="text-danger">Debe ingresar la contraseña</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <div>
        <a [href]="'/signup'">Registrarse</a>
    </div>
</div>