<app-profile></app-profile>
<div class="container mt-5 animated fadeIn fast">

    <div class="card">
        <div class="card-header">
            Bienvenido <strong>{{user.username}}</strong>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore ipsa quae reprehenderit doloremque odit, iusto fuga! Perferendis eos minus consequatur suscipit cumque quisquam voluptate, maxime iste impedit, dolor obcaecati. Similique.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>

</div>