<app-profile></app-profile>
<div class="container mt-5 animated fadeIn fast">
    <form [formGroup]="form" (ngSubmit)="doTransfer()">
        <div class="form-group">
            <label>Número de Cuenta Destino</label>
            <input type="text" formControlName="accountNumber" class="form-control" placeholder="Cuenta" [class.is-invalid]="accountNumberValid">
            <small *ngIf="accountNumberValid" class="text-danger">La cuenta destino es requerida</small>
        </div>
        <div class="form-group">
            <label>Monto a Transferir</label>
            <input type="number" formControlName="amount" class="form-control" placeholder="Monto" [class.is-invalid]="amountValid">
            <small *ngIf="user"> saldo:  {{user.balance | currency: 'USD'}} </small>
            <small *ngIf="amountValid" class="text-danger">El monto es inválido</small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success form-control">Transferir</button>
        </div>
    </form>
</div>