<app-profile></app-profile>
<div class="container mt-5 animated fadeIn fast" *ngIf="user">

    <div *ngIf="userAdmin">

        <h2>Realizar Débito</h2>
        <form [formGroup]="form" (ngSubmit)="sendDebit()">
            <div class="form-group">
                <label>Número de Cuenta</label>
                <input type="text" formControlName="accountNumber" class="form-control" placeholder="Número de cuenta" [class.is-invalid]="accountNumberValid" maxlength="36">
                <small *ngIf="accountNumberValid" class="text-danger">El número de cuenta es requerida</small>
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <input type="text" formControlName="description" class="form-control" placeholder="Descripción" [class.is-invalid]="descriptionValid">
                <small *ngIf="descriptionValid" class="text-danger">La descripción es requerida</small>
            </div>
            <div class="form-group">
                <label>Monto</label>
                <input type="number" formControlName="amount" class="form-control" placeholder="Monto" [class.is-invalid]="amountValid">
                <small *ngIf="amountValid" class="text-danger">El monto es inválido</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success form-control">Debitar</button>
            </div>
        </form>

    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="!userAdmin">
        <strong>No disponible</strong>
    </div>

</div>